<!doctype html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- meta -->
  <meta name="description" content="SWE445 Project">
  <meta name="author" content="Group 6">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- /meta -->

  <!-- styles -->
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />

  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;


    }

    .form-wrapper {

      min-width: 500px;
    }
  </style>
  <!-- /styles -->

  <!-- favicons -->
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <!-- /favicons -->

  <!-- scripts -->
  <script src="https://kit.fontawesome.com/af77674fe5.js"></script>
  <script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
  <script src="/static/js/libs/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  <!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
  <!-- /scripts -->
</head>

<body class="d-xl-flex justify-content-xl-center align-items-xl-center" style="min-width: 100%;min-height: 100%;">

  <!-- Wrap all page content here -->

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-block alert-info fade in">
    <a class="close" data-dismiss="alert">&times;</a>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}


  <div class="col-md-6 flex-row align-content-center"
    style="background: #6f64f8;max-width: 900px;width: 50%;min-height: 100%;min-height: 700px;">
    <div style="margin: 20% auto 30%;">
      <h1 style="text-align: center;color: rgb(255,255,255);"><i class="fa fa-star"
          style="text-align: center;color: rgb(255,255,255);font-size: 500%;"></i></h1>
      <h1 style="text-align: center;color: rgb(255,255,255);">Dhahran E-shopping and Tracking System</h1>
      <p style="text-align: center;color: rgb(255,255,255);">For ordering and tracking item e-shop items</p>
    </div>
    <p style="text-align: center;color: rgb(255,255,255);">EShop &copy; All Rights Reserved.</p>

  </div>
  <!-- Begin page content -->
  <div class="col-md-6 flex-row ">
    {% if user.user_id %}
    <h3 class="form-heading"> <a href="{{ url_for('logout') }}" title="Sign Out"><i
          class="fa fa-sign-out pull-right">Logout</i></a></h3> {% endif %}
    <br>
    <br>
    <div class=" center">

      {% block content %}{% endblock %}
    </div>
  </div>
  <!-- <p>EShop &copy; All Rights Reserved.</p> -->

  <!-- </div> -->
  <!-- </main> -->


  <div id="footer">
    <div class="container">

      {% block footer %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>

</body>

</html>